/* css style sheet*/
body {
  background-color: lightgrey;
  text-align: center;
  /* justify-items: center; */
}

input {
  line-height: 1.5;
  width: 450px;
  text-align: center;
}

.buttonDiv {
  padding-top: 2.5%;
}

.display-image-div {
  height: 450px;
  width: 700px;
  background-color: lightblue;
  margin: 0 auto;
  margin-top: 2.5%;
}
img {
  height: 450px;
  width: 700px;
}
