body {
  background-color: rgb(224, 182, 103);
} 
input {
  margin-bottom: 1rem;
}
#clearButton {
  background-color: rgb(241, 109, 109);
}
#displayButton {
  background-color: aquamarine;
  padding: 1.5rem 1rem;
  margin-bottom: 2rem;
}
img {
  width: 400px;
  height: 350px;
  border: solid 1px black;
}
